<h1>Campeonato XYZ</h1>

<form #myForm="ngForm" (submit)="saveData(myForm)">

  <div>
    <label>Nome:</label>
    <input type="text" name="name" [(ngModel)]="time.nome">
  </div>

  <div>
    <label>Pontuação:</label>
    <input type="text" name="points" [(ngModel)]="time.pontuacao">
  </div>

  <input type="submit" value="Salvar">

</form>

<div *ngIf="listaDeTimes.length !== 0">
  
  <h2>Classificação:</h2>
  
  <table>
    <thead>
      <tr class="text-center">
        <td>Classificação</td>
        <td>Time</td>
        <td>Pontuação</td>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let time of listaDeTimes; let i = index">
        <td class="padding-left">{{ i + 1 }}</td>
        <td class="padding-left">{{ time.nome }}</td>
        <td class="padding-left">{{ time.pontuacao }}</td>
      </tr>
    </tbody>
  </table>

</div>